<h1>ようこそ、reminTripへ！</h1>

<% if user_signed_in? %>
  <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link px-3' %>
<% else %>
  <%= link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, class: 'nav-link px-3' %>
<% end %>