<h2>Googleアカウント連携</h2>
<% if current_user.google_connected? %>
  <p>すでに連携済みです</p>
<% else %>
  <%= link_to "Googleアカウントを連携する", user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary" %>
<% end %>