<h1>ようこそ、<%= current_user.name %>さん</h1>

<% if current_user.google_access_token.present? %>
  <%= button_to '旅行情報を取得', fetch_from_gmail_travel_infos_path, method: :post %>
<% else %>
  <%= link_to 'Googleアカウント連携', auth_google_path %>
<% end %>